.proList{
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
}
.imgUrl{
  display: block;
  width: 200px;
  height: 100px;
  background-color: pink;
  margin:0 auto;
  margin-bottom: 10px;
}
.probox{
  display: flex;
  flex-wrap: wrap;
  
}
.pro-item{
  margin:50px;
  transition: all 0.5s;;
}
.pro-item:hover{
  transform: scale(1.2);
}
.disable {
  filter: grayscale(1);
}
.shadow{
  position: relative;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
}
.shadow::after, .shadow::before {
  content: '';
  background: #f00;
  position: absolute;
  z-index: -1;
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  border-radius: 100px/10px;
}
.pager{
  position: absolute;
  left: 0;
  right: 0;
  margin:0 auto;
  margin-bottom: 20px;
  width: 300px;
}
.addProduct{
  width: 150px;
  margin:0 20px;
  margin-bottom: 50px;
}
.pro-item{
  margin: 20px;
}