.app-sider{
  .app-brand{
    width: 175px;
    height: 17px;
    margin: 30px auto;
    font-size: 18px;
    font-weight: bold;
    &>img{
      max-width: 100%;
    }
  }
}
.app-header{
  .edit{
    &::before{
      content: '';
      margin-right: 22px;
      margin-left: 26px;
      border-left: 2px solid #DDDDDD;
      height: 24px;
    }
    &>i{
      margin-right: 10px;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  .ant-avatar{
    margin-right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #DDDDDD;
  }
}
.ant-layout-header{
  .title{
    margin-left: 170px;
    color: #fff;
    text-align: right;
    .desc{
      font-weight: bold;
      font-size: 20px;
      text-shadow:#ddd 3px 4px 20px;
      float: left;
    }
    .logout{
      cursor: pointer;
    }
  }
  .base-diag-container{
    line-height: 1;
  }
}