
.login-register,.login-forgetpwd,.login-registerinfo {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: url('../../assets/login-picture/setPwd.png') top center no-repeat;
  background-size: cover;
  .ant-input{
    height: 50px;
    padding-left: 40px !important;
    font-size: 16px;
    border: 0;
    background-color: #f1f1f1;
    border-radius: 27px;
  }
  .ant-btn-primary{
    background: #C40803 !important;
    border-color: #C40803;
  }
  .ant-btn-primary:hover {
    background: #C40803 !important;
  }
  .ant-input-affix-wrapper{
    border: 1px solid #f1f1f1;
    border-radius: 30px;
  }
  .ant-form-explain{
    padding-left: 80px;
  }
}
.login-bg, .login-main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main {
  position: relative;
  min-width: 1104px;
  margin: auto;
  height: 678px;
  min-height: 478px;
  background-color: #fff;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.login-form-body {
  float: right;
  width: 381px;
  margin-top: 100px;
}

.login-form {
  margin-top: 40px;
  .ant-input-affix-wrapper{
    border: 1px solid #f1f1f1;
    border-radius: 30px;
  }
  .ant-input {
    height: 50px;
    padding-left: 40px !important;
    font-size: 16px;
    border: 0;
    background-color: #f1f1f1;
    border-radius: 27px;
  }
  .ant-btn-primary:hover {
    background: #C40803 !important;
  }
  .ant-form-item:last-of-type {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .forget-pwd {
    padding-left: 25px;
  }
  .forget-pwd,.register{
    a{
      color: #C40803;
      text-decoration: underline;
    }
  }
}
.login-form-button-div{
  margin-bottom: 15px !important;
}
.login-form-button {
  width: 100%;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  background: #C40803;
  // box-shadow: 0 4px 10px 2px #ccd5fe;
  border-radius: 28px;
}
.login-register,.login-forgetpwd,.login-registerinfo{
  .register-div,.forgetpwd-div,.registerinfo-div{
    width:510px;
    height:494px;
    background:rgba(255,255,255,1);
    border-radius:20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    h3{
      font-size:26px;
      font-weight: bold;
      margin: 70px 0px 20px 0px;
      text-align: center;
      margin-bottom: 50px;
    }
    p{
      color: #999;
      margin-bottom: 25px;
      text-align: center;
    }
    .input-btn-div{
      padding: 0px 64px;
    }
    .submit-btn{
      margin-top: 50px;
    }
    .ant-form{
      padding:0 20px 10px 20px;
    }
    .login-form{
      margin-top: 20px;
    }
    .ant-form-item{
      height: 75px;
      position: relative;
      .ant-form-explain{
        position: absolute;
        bottom: -30px;
        left: 0;
      }
    }
    .ant-form-item-with-help{
      margin-bottom: 24px;
    }
  }
}
.ant-form-item-children{
  display: flex;
  justify-content: space-evenly;
}
.login-form .ant-form-item:last-of-type{
  margin-bottom: 30px;
  margin-top: 20px;
}
.login-register .register-div .ant-form-item, .login-register .forgetpwd-div .ant-form-item, .login-register .registerinfo-div .ant-form-item, .login-forgetpwd .register-div .ant-form-item, .login-forgetpwd .forgetpwd-div .ant-form-item, .login-forgetpwd .registerinfo-div .ant-form-item, .login-registerinfo .register-div .ant-form-item, .login-registerinfo .forgetpwd-div .ant-form-item, .login-registerinfo .registerinfo-div .ant-form-item{
  height: 50px;
}
.status-container{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  .content{
    width: 510px;
    height: 494px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    p{
      margin-top: 20px;
      color: #999;
    }
  }
}
.other{
  display: flex;
  position: relative;
  justify-content: space-around;
}
.login-register .register-div h3, .login-register .forgetpwd-div h3, .login-register .registerinfo-div h3, .login-forgetpwd .register-div h3, .login-forgetpwd .forgetpwd-div h3, .login-forgetpwd .registerinfo-div h3, .login-registerinfo .register-div h3, .login-registerinfo .forgetpwd-div h3, .login-registerinfo .registerinfo-div h3{
  margin-bottom: 0px;
  margin-top: 50px;
}